.ekart--product--container{
  padding: 0px 8vw;
  margin: 20px auto;
}

button{
    padding: 5px 10px;
    margin: 0px 5px;
}

.ekart-featured-products{

  background-color: #282828;
  padding: 20px 10px;
  display: flex;
  overflow-x: auto;
}

.ekart-featured-product-heading{

  width: 320px;
  margin: 10px 10px;
  padding: 20px 30px;
  color: #fff;
}