
<app-filter
[all]="totalProductCount"
 [inStock]="totalProductCountInStock"
  [outOfStock]="totalProductCountOutOfStock"

  (selectedFilterRadioButtonChanged)="onFilterChanged($event)"

  ></app-filter>
<div class="ekart--product--cotnainer">
<!-- 
   <div *ngFor="let prod of products" (click)="selectedProduct = prod">
   
      <app-product [product]="prod" *ngIf="searchText === '' || prod.name.toLowerCase().includes(searchText)"></app-product> -->
    <!-- <app-product  [product]="prod" *ngIf="selectedFilterRadioButton ==='all' || prod.is_in_inventory.toString() === selectedFilterRadioButton" ></app-product> -->
   <!-- </div> -->

   <ng-container *ngFor="let prod of products">
   
      <app-product (click)="selectedProduct = prod" [product]="prod" *ngIf="searchText === '' || prod.name.toLowerCase().includes(searchText)"></app-product>
    
   </ng-container>
</div>