<div class="ekart-search-product">
    <!-- <input class="ekart-search-product-input" type="text" [value]="searchText" (input)="updateSearchText($event)">  // two way data binding -->
    <!-- <input class="ekart-search-product-input" [(ngModel)]="searchText">   -->

    <!-- <input class="ekart-search-product-input" [(ngModel)]="searchText" placeholder="Search" (input)="onSearchTextChange($event)"> -->
    <input class="ekart-search-product-input" #searchInput>
    <!-- <button class="btn btn-search" (click)="updateSearchText(searchInput)">Search</button> -->
    <button class="btn btn-search" (click)="updateSearchText()">Search</button>
    <!-- <button [ngClass]="{'btn':true,'btn-search':searchText,'btn-search-disabled':!searchText}" [disabled]="!searchText">Search</button> -->
</div>
<div class="ekart-search-result-for">
    <p *ngIf="searchText != ''"><strong>Search result for: </strong>{{searchText}}</p>
</div>

